div.WireIt-Container {
    width: 350px; /* Prevent the modules from scratching on the right */
}

div.WireIt-InOutContainer {
    width: 150px;
}

div.WireIt-InputExTerminal {
    float: left;
    width: 21px;
    height: 21px;
    position: relative;
}

div.WireIt-InputExTerminal div.WireIt-Terminal {
    top: -3px;
    left: -7px;
}

div.inputEx-Group div.inputEx-label {
    width: 75px;
}

#optionsForm div.inputEx-Group div.inputEx-label {
    width: auto;
}

#optionsForm div.inputEx-Group div.inputEx-Field input {
    width: 100%;
}

#optionsForm div.inputEx-Group div.inputEx-Field {
   width : 100%;
}

#optionsForm div.inputEx-Group div.inputEx-CheckBox {
   width : 14px;
}

#propertiesForm div.inputEx-Group div.inputEx-label {
    width: auto;
}

#propertiesForm div.inputEx-Group div.inputEx-Field  {
    width: auto;
}

div.WireIt-ImageContainer {
    width: 45px;
    height: 46px;
}

div.Bubble div.body {
    width: 70px;
    height: 45px;
    opacity: 0.8;
    cursor: move;
}

.WiringEditor-module span {
    position: relative;
    top: -3px;
}

/* Comment Module */
div.WireIt-Container.WiringEditor-module-comment {
    width: 200px;
}

div.WireIt-Container.WiringEditor-module-comment div.body {
    background-color: #EEEE66;
}

div.WireIt-Container.WiringEditor-module-comment div.body textarea {
    background-color: transparent;
    font-weight: bold;
    border: 0;
}

div.Wf-TimerSelect-dueDate-qty input {
    width: 30px;
}

div.Wf-MultiOutContainer-link {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
}

div.WireIt-ImageContainer div.body{
    width:65px;
    height:45px;
    background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	cursor: move;
}

div.Wf-Container-change {
    background-image: url("res/icons/change_direction.png");
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 20px;
    top: 4px;
    width: 16px;
    z-index: 7;
}

.yui-accordion-content, .yui-accordion-content #optionsForm,.yui-accordion-content #propertiesForm{
    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
    margin-bottom:5px;
}

.inputEx-Button {
    padding-left:3px;
    padding-right:3px;
    padding-top:3px;
    padding-bottom:3px;
    margin-left:3px;
    margin-right:0;
}
